# log into planning center developers and generate these values
pco_app_id = ''
pco_secret = ''

#smtp settings, change if not using gmail
host = 'smtp.gmail.com'
port = 587

# if using gmail to send email, go to "google->account->security->signing into google->app passwords" and generate this value
sender_email = ''
sender_name = ''
app_pw = ''
receiver_email = ""
receiver_name = ""